.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 60%;
  height: 100vh;

  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      display: flex;
      justify-content: space-between;

      .form-control {
        width: 60%;
        padding: 0.5rem;

        border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
      }

      input:-webkit-autofill{
        -webkit-text-fill-color: black !important;
      }

      label {
        font-size: 1.2rem;
      }

      .checkbox {
        accent-color: #4446d8;
        margin-right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      gap: 1rem;
    }
  }
}

